@import url("https://fonts.googleapis.com/css2?family=Doppio+One&display=swap");

@font-face {
  font-family: "Peyda";
  src: url("/miniapp/fonts/Peyda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/miniapp/fonts/Peyda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/miniapp/fonts/Peyda-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/miniapp/fonts/Peyda-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("/miniapp/fonts/Peyda-Black.ttf") format("truetype");
  font-weight: 800 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-fa: "Doppio One", "Peyda", sans-serif;
  --font-num: "Doppio One", "Peyda", sans-serif;
}

html,
body,
#root,
button,
input,
textarea,
select,
option {
  font-family: "Doppio One", "Peyda", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Doppio One", "Peyda", sans-serif;
}

.num {
  font-family: "Doppio One", "Peyda", sans-serif;
}
